<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Expenses</title>
  <meta name="description" content="Expense manager by analysing emails">
  <meta name="google-signin-client_id" content="267194503259-b30cjagiluke8vmvr4rr3dq7664s2k5r.apps.googleusercontent.com">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bulma.min.css">
</head>

<body class="layout-default page-layout">

  <section class="hero is-bold is-info">
  <!-- Hero header: will stick at the top -->
  <div class="hero-header">
    <header class="header">
      <div class="container">
        <div class="header-left">
          <h1 class="header-item is-large">Expenses</h1>
        </div>
        <span class="header-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="header-right header-menu">

          <span class="header-item">
            <a class="button is-primary is-inverted" id="my-signin2">
              <span class="icon">
                <i class="fa fa-google"></i>
              </span>
              <span>Sign in with Google</span>
            </a>
          </span>

          <a class="header-item" id='list-messages'>
            List Messages
          </a>


          <a class="header-item" onclick="signOut();">
            Sign out
          </a>

        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Expenses
      </h1>
      <h2 class="subtitle">
        View CitiBank Expenses by reading Gmail
      </h2>
    </div>
  </div>

</section>

  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-2">
          <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a href="#">Dashboard</a></li>
            </ul>
            <p class="menu-label">
              Transactions
            </p>
            <ul class="menu-list">
              <li><a href="#">Credit</a></li>
              <li><a href="#">Debit</a></li>
              <li><a href="#">Balance</a></li>
            </ul>
          </aside>

        </div>
        <div class="column">
          <div id="content">
            CONTENT
          </div>
        </div>
        <div class="column is-2">
          <div id="right-info">
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<script type="text/javascript">

var googleAuthInstance = {};
var maxMessages = 1000;

function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}

function onFailure(error) {
  console.log(error);
}

var initClient = function() {
  gapi.load('auth2', function(){
      googleAuthInstance = gapi.auth2.init({
          client_id: '267194503259-b30cjagiluke8vmvr4rr3dq7664s2k5r.apps.googleusercontent.com',
          scope: 'profile email https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/gmail.readonly',
      });
      googleAuthInstance.attachClickHandler('my-signin2', {}, onSignIn, onFailure);
  });
};

function signOut() {
   var auth2 = gapi.auth2.getAuthInstance();
   auth2.signOut().then(function () {
     console.log('User signed out.');
   });
 }

function getMessage(messageId) {
  var request = gapi.client.gmail.users.messages.get({
    'userId': 'me',
    'id': messageId
  });
  var promise = new Promise(function(resolve,reject){
      //console.log("Started fetch for message ",messageId);
      request.then(function(resp){
        //console.log("Fetching message complete for messageid",messageId);
        resolve(resp.result);
      },rejectFn);
  });

  return promise;
}

var rejectFn = function(reason){
  console.log("Request rejected due to ",reason);
}

function fetchMessageIds(query) {
  console.log("Fetching all message ids");

  var promise = new Promise(function(resolve,reject){

    var getPageOfMessages = function(request, result) {
      request.then(function(resp) {
        //console.log(resp);
        result = result.concat(resp.result.messages);
        var nextPageToken = resp.result.nextPageToken;
        //nextPageToken = undefined; //stopping the next execution for testing
        if (nextPageToken) {
          request = gapi.client.gmail.users.messages.list({
            'userId': 'me',
            'pageToken': nextPageToken,
            'q': query,
            maxResults:500,
          });
          console.log("Loading message",result.length);
          getPageOfMessages(request, result);
        } else {
          //console.log(result.length,result);
          resolve(result);
        }
      },rejectFn);
    };

    var initialRequest = gapi.client.gmail.users.messages.list({
      'userId': 'me',
      'q': query,
      maxResults: 500 //it seems thats the max limit
    });

    getPageOfMessages(initialRequest, []);

  });

  return promise;
}

var readMessage = function(message){
  var metaData = getMetaData(message);
  var extractedData = extractData(message,metaData);
  var messageObj = {
    metaData : metaData,
    extractedData : extractedData,
    id : message.id,
    mimeType: message.payload.mimeType
  }
  return messageObj;

}

var getMessageHTML = function(message){
  var messageBase64 ;
  if(message.payload.mimeType == "text/html"){
    messageBase64 = message.payload.body.data;
  } else if(message.payload.mimeType == "multipart/mixed") {
    messageBase64 = "";
    message.payload.parts.forEach(function(p){
      if(p.mimeType == "text/plain" || p.mimeType == "text/html"){
        var data = p.body.data;
        messageBase64 += data;
      }
    });
  }
  messageBase64 = messageBase64.replace(/-/g, '+').replace(/_/g, '/');
  var messageHTML = atob(messageBase64);
  return messageHTML;
};

var extractData = function(message,metaData){
  //console.log("Extracting data out of message",message.id);
  var messageHTML = getMessageHTML(message);
  var mainMessageRegex = /bgcolor="#f1fcf9">(.*)/;

  if(metaData["transactionType"] == "withdrawal"){
    mainMessageRegex = /(Rs.*)/;
  } else if(metaData["transactionType"] == "debit_purchase"){
    mainMessageRegex = /Your debit card(.*?)/
  } else if(metaData["transactionType"] == "neft"){
    mainMessageRegex = /You have received(.*?)/
  }

  var found = messageHTML.match(mainMessageRegex);
  var match = "NO REGEX MATCH";
  if (found){
    match = found[1]
  }

  var amount=0,merchant="";

  //get additional data out of matched string
  if(metaData["transactionType"] == "credit" && found){
    var amountRegex = /Rs\s*([0-9\,\.]+)\swas/;
    amount = match.match(amountRegex)[1]
    var merchantRegex = /at\s*(.*)/
    merchant = match.match(merchantRegex)[1]
    amount = amount.replace(/,/g,'');
    //console.log(amount,merchant);
  }

  var data = {
    rawHtml : messageHTML,
    transactionString : _.escape(match),
    amount : parseFloat(amount),
    merchant : merchant,
  }
  return data;
};

var getMetaData = function(message){
  var headers = message.payload.headers;
  var metaData = {};
  headers.forEach(function(h){
    var name = h.name;

    if(name == "Date"){
      metaData["date"] = new Date(h.value);
    } else if (name == "Subject"){
      metaData["subject"] = h.value;
    }
  });

  if(metaData["subject"].indexOf("Transaction confirmation on your Citibank credit card") > -1){
    metaData["transactionType"] = "credit";
  } else if (metaData["subject"].indexOf("Confirmation of transaction on your Citibank Debit Card") > -1){
    metaData["transactionType"] = "debit";
    console.log(metaData["subject"],'debit')
  } else if (metaData["subject"].indexOf("Balance in your account") > -1){
    metaData["transactionType"] = "balance";
  } else if (metaData["subject"].indexOf("ATM Withdrawal Alert") > -1){
    metaData["transactionType"] = "withdrawal";
  } else if (metaData["subject"].indexOf("Transaction confirmation on your Citibank Credit Card") > -1){
    metaData["transactionType"] = "credit_fx";
  } else if (metaData["subject"].indexOf("New Payee addition on Citibank Online") > -1){
    metaData["transactionType"] = "payee_add";
  } else if (metaData["subject"].indexOf("CitiAlert - Confirmation of Credit Card Bill Payment") > -1){
    metaData["transactionType"] = "bill_pay";
  } else if (metaData["subject"].indexOf("CitiAlert - Credit Card Payment Due Date Reminder") > -1){
    metaData["transactionType"] = "due_date";
  } else if (metaData["subject"].indexOf("NEFT Fund Transfer acknowledgement") > -1){
    metaData["transactionType"] = "neft";
  }else if (metaData["subject"].indexOf("CitiAlert - Credit Card Mini Statement") > -1){
    metaData["transactionType"] = "mini_statement";
  }else if (metaData["subject"].indexOf("CitiAlert - Reward Redemption") > -1){
    metaData["transactionType"] = "reward_redemption";
  }else if (metaData["subject"].indexOf("Citi Purchase Alert") > -1){
    metaData["transactionType"] = "debit_purchase";
    console.log(metaData["subject"],'debit puchase')
  }else {
    metaData["transactionType"] = metaData["subject"];
  }
  return metaData;
};

var handleClientLoad = function(){
  console.log('loading gmail client')
  gapi.client.load('gmail', 'v1');
};

var initDB = function(){
  var db = new alasql.Database('expenses');
  //console.log(alasql.databases.expenses);
  db.exec("create table transactions (id string, vdate Date, transactionString string, type string, merchant string, amount float)")
}

var writeMessageToDB = function(message){
  var db = alasql.databases.expenses;
  var insertQuery = "INSERT INTO transactions values(%id , %metaData.date, %extractedData.transactionString, %metaData.transactionType,%extractedData.merchant,%extractedData.amount)";
  var finalQuery = parameterizedQuery(insertQuery,message);
  //console.log(finalQuery);
  db.exec(finalQuery);
}

var parameterizedQuery = function(query,obj){
  var parameters = /%(.*?)[,\)\s*]/g;
  var found;
  var newQuery = query;
  while ((found = parameters.exec(query)) !== null) {
    //console.log("Found",found);
    var attr = found[1];
    var replace = getNestedAttrValue(obj,attr);
    newQuery = newQuery.replace("%"+attr,'"'+replace+'"');

  }
  //console.log(newQuery);
  return newQuery;
}

var getNestedAttrValue = function(obj,attr){
  var value;
  attr.split(".").reduce(function(pre,cur){
    if(pre.hasOwnProperty(cur)){
      value = pre[cur];
    }
    return value
  },obj);
  return value;
}

var fetchAllMessages = function(messageIds){
  console.log("Fetching all message content :");
  var promises = []
  messageIds.forEach(function(m){
    //console.log("Fetching message,",m.id);
    var messagePromise = getMessage(m.id);
    promises.push(messagePromise);
  });
  return promises;
}

var processAllMessages = function(allMessagesPromise){
  var allMessagesProcessedPromise = [];
  allMessagesPromise.forEach(function(messagePromise){
    var promise = new Promise(function(resolve,reject){
      messagePromise.then(function(m){
        var message = readMessage(m);
        //console.log(message);
        writeMessageToDB(message);
        resolve(message);
      }).catch(rejectFn);
    });
    allMessagesProcessedPromise.push(promise);
  });
  var wrapperPromise = new Promise(function(resolve,reject){
    Promise.all(allMessagesProcessedPromise).then(function(values){
      resolve(values);
    }).catch(rejectFn)
  });
  return wrapperPromise;
}


var renderExpensesTable = function(){
  console.log("Rendering Expenses table");
  var db = alasql.databases.expenses;
  var thisMonthTS = new Date('2016-01-01').getTime();
  var thisMonthCreditTransQuery = "SELECT * FROM transactions where type='credit' and vdate >= %date order by vdate desc";
  var finalQuery = parameterizedQuery(thisMonthCreditTransQuery,{date:thisMonthTS});
  var transactions = db.exec(finalQuery);
  //localStorage.setItem('transactions',JSON.stringify(transactions));
  //console.log("All transactions",transactions);
  var template = _.template(document.querySelector("#transaction-template").innerHTML);
  var contentDiv = document.querySelector("#content");
  var tableHTML = template({transactions: transactions});
  contentDiv.innerHTML = tableHTML;
}

var renderRightInfo = function(){
  console.log("Rendering right information");
  var db = alasql.databases.expenses;
  var sumCredit = db.exec("select sum(amount) as totalSpend from transactions where type='credit'")[0];
  console.log(sumCredit);
  var node = document.querySelector("#right-info");
  node.innerHTML = "Total credit card spend: " + sumCredit.totalSpend;
}


document.addEventListener("DOMContentLoaded", function() {
  initDB();
  var listMessagesElement = document.querySelector('#list-messages');
  listMessagesElement.addEventListener("click",function(){
    var emailQuery = "from:CitiAlert.India@citicorp.com";
    //if(!localStorage.getItem('transactions')) {
      fetchMessageIds(emailQuery)
      .then(fetchAllMessages)
      .then(processAllMessages)
      .then(renderExpensesTable)
      .then(renderRightInfo)
      .catch(rejectFn);
    // } else {
    //   console.log("Loading data from localStorage");
    //   var transactions = JSON.parse(localStorage.getItem('transactions'));
    //   console.log(transactions);
    // }

  });
});


</script>
<!-- BEGIN: Underscore Template Definition. -->
<script type="text/template" class="templates" id="transaction-template">
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Transaction</th>
      <th>Type</th>
      <th>Merchant</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(transactions,function(t){ %>
      <tr>
        <td><%= t.vdate %></td>
        <td><%= _.unescape(t.transactionString) %></td>
        <td><%= t.type %> </td>
        <td><%= t.merchant %> </td>
        <td><%= t.amount %> </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</script>
<!-- END: Underscore Template Definition. -->
<script src="https://apis.google.com/js/platform.js?onload=initClient" async defer></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad" async defer></script>
<script src="http://cdn.jsdelivr.net/alasql/0.2/alasql.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
