<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Expenses</title>
  <meta name="description" content="Expense manager by analysing emails">
  <meta name="google-signin-client_id" content="267194503259-b30cjagiluke8vmvr4rr3dq7664s2k5r.apps.googleusercontent.com">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.26/css/bulma.min.css">
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
</head>

<body class="layout-default page-layout">

  <section class="hero is-info is-bold">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <nav class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="/">
          </a>
        </div>
        <span class="nav-toggle" id="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu" id="nav-menu">
          <a class="nav-item is-active">
            Home
          </a>
          <a class="nav-item" id='list-messages'>
            List Messages
          </a>
          <a class="nav-item" onclick="signOut();">
            Sign Out
          </a>
          <span class="nav-item">
            <a class="button is-primary is-inverted" id="my-signin2">
              <span class="icon">
                <i class="fa fa-google"></i>
              </span>
              <span>Sign in with Google</span>
            </a>
          </span>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Expenses
      </h1>
      <h2 class="subtitle">
        Analyze your expenses by parsing emails
      </h2>
    </div>
  </div>

</section>

  <section class="section">
    <div class="container">
      <div class="columns">

        <div class="column is-2 is-narrow-mobile">
          <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a href="#">Dashboard</a></li>
            </ul>
            <p class="menu-label">
              Transactions
            </p>
            <ul class="menu-list">
              <li><a href="#">Credit</a></li>
              <li><a href="#">Debit</a></li>
              <li><a href="#">Balance</a></li>
            </ul>
          </aside>
        </div>

        <div class="column">
          <div id="content">
            CONTENT
          </div>
        </div>

        <div class="column is-2">
          <div id="right-info">
            RIGHT INFO
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<script type="text/javascript">

var googleAuthInstance = {};
var maxMessages = 1000;

// google sign in functions

function handleClientLoad(){
  console.log('loading gmail client')
  gapi.client.load('gmail', 'v1');
};

function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}

function onFailure(error) {
  console.log(error);
}

function initClient() {
  gapi.load('auth2', function(){
      googleAuthInstance = gapi.auth2.init({
          client_id: '267194503259-b30cjagiluke8vmvr4rr3dq7664s2k5r.apps.googleusercontent.com',
          scope: 'profile email https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/gmail.readonly',
      });
      googleAuthInstance.attachClickHandler('my-signin2', {}, onSignIn, onFailure);
  });
};

function signOut() {
   var auth2 = gapi.auth2.getAuthInstance();
   auth2.signOut().then(function () {
     console.log('User signed out.');
   });
 }

 // end of google sign in functions


// helper functions atomic in nature
function rejectFn(reason){
 console.log("Promise rejected due to ",reason);
}

function parameterizedQuery(query,obj){
 //console.log("received query : ",query,"obj: ",obj)
 var parameters = /%([a-zA-Z\.]+)/g;
 var found;
 var newQuery = query + " ";
 while ((found = parameters.exec(query)) !== null) {
   var attr = found[1];
   var replace = getNestedAttrValue(obj,attr);
   newQuery = newQuery.replace("%"+attr,replace);
 }
 //console.log("replaced query : ",newQuery);
 return newQuery;
}

function getNestedAttrValue(obj,attr){
 var value;
 attr.split(".").reduce(function(pre,cur){
   if(pre.hasOwnProperty(cur)){
     value = pre[cur];
   }
   return value
 },obj);
 return value;
}

function updateStatus(message){
  document.querySelector("#right-info").innerHTML = message;
}

 // functions top to bottom based on flow

function initDB(){
 var db = new alasql.Database('expenses');
}

function createTables(bankName){
 var db = alasql.databases.expenses;
 var bankConfig = config[bankName];
 _.each(bankConfig,function(transactionTypeConfig,transactionType){
   var createStatement = "CREATE TABLE IF NOT EXISTS %tableName ( id string, date string, main_message string, %tableColumns )";
   var tableName = bankName + "_" + transactionType;
   var tableColumns = _.map(transactionTypeConfig["fields"],function(field){
     return field["name"] + " " + field["type"];
   }).join(", ")
   var finalCreateStatement = parameterizedQuery(createStatement,{tableName:tableName,tableColumns:tableColumns});
   db.exec(finalCreateStatement);
 });
}

function fetchMessageIds(query) {
 updateStatus("Fetching all message ids");
 var promise = new Promise(function(resolve,reject){
   function getPageOfMessages(request, result) {
     request.then(function(resp) {
       result = result.concat(resp.result.messages);
       var nextPageToken = resp.result.nextPageToken;
       nextPageToken = undefined; //stopping the next execution for testing
       if (nextPageToken) {
         request = gapi.client.gmail.users.messages.list({
           'userId': 'me',
           'pageToken': nextPageToken,
           'q': query,
           maxResults:maxMessages,
         });
         getPageOfMessages(request, result);
       } else {
         resolve(result);
       }
     },rejectFn);
   };
   var initialRequest = gapi.client.gmail.users.messages.list({
     'userId': 'me',
     'q': query,
     maxResults: maxMessages //it seems thats the max limit
   });
   getPageOfMessages(initialRequest, []);
 });
 return promise;
}

function fetchAllMessages(messageIds){
  updateStatus("Fetching all message content");
  var promises = []
  messageIds.forEach(function(m){
    updateStatus("Fetching message : " + m.id);
    var messagePromise = getMessage(m.id);
    promises.push(messagePromise);
  });
  return promises;
}

function getMessage(messageId) {
  var request = gapi.client.gmail.users.messages.get({
    'userId': 'me',
    'id': messageId
  });
  var promise = new Promise(function(resolve,reject){
      updateStatus("Downloading message " +  messageId);
      request.then(function(resp){
        updateStatus("Fetching message complete for messageid : " + messageId);
        resolve(resp.result);
      },rejectFn);
  });
  return promise;
}


function processAllMessages(allMessagesPromise,messageConfig){
  var allMessagesProcessedPromise = [];
  allMessagesPromise.forEach(function(messagePromise){
    var promise = new Promise(function(resolve,reject){
      messagePromise.then(function(m){
        var message = readMessage(m,messageConfig);
        resolve(message);
      }).catch(rejectFn);
    });
    allMessagesProcessedPromise.push(promise);
  });
  var wrapperPromise = new Promise(function(resolve,reject){
    Promise.all(allMessagesProcessedPromise).then(function(values){
      resolve(values);
    }).catch(rejectFn)
  });
  return wrapperPromise;
}

function readMessage(message,messageConfig){
  var metaData = getMetaData(message);
  var extractedData = extractData(message,messageConfig);
  var messageObj = {
    metaData : metaData,
    extractedData : extractedData,
    id : message.id,
    mimeType: message.payload.mimeType
  }
  return messageObj;
}

function getMessageHTML(message){
  var messageBase64 ;
  if(message.payload.mimeType == "text/html"){
    messageBase64 = message.payload.body.data;
  } else if(message.payload.mimeType == "multipart/mixed") {
    messageBase64 = "";
    message.payload.parts.forEach(function(p){
      if(p.mimeType == "text/plain" || p.mimeType == "text/html"){
        var data = p.body.data;
        messageBase64 += data;
      }
    });
  }
  messageBase64 = messageBase64.replace(/-/g, '+').replace(/_/g, '/');
  var messageHTML = atob(messageBase64);
  return messageHTML;
};

function extractData(message,messageConfig){
  updateStatus("Extracting data out of message " + message.id);
  var messageHTML = getMessageHTML(message);
  var mainMessageRegex = messageConfig["mainMessageExtractor"];
  var matchObj = messageHTML.match(mainMessageRegex);
  var foundText = "NO MAIN MESSAGE REGEX MATCH";
  if (matchObj){
    foundText = matchObj[1]
  }

  var data = {
    rawHtml : messageHTML,
    mainMessage : _.escape(foundText)
  }

  _.each(messageConfig["fields"],function(field){
    var regexExtractors = field["extractors"];
    var attrName = field["name"];
    var type = field["type"]
    var text = foundText;
    _.each(regexExtractors,function(regex){
      var match = text.match(regex);
      if(match){
        text = match[1]
      }
    });
    if(text == foundText){
      text = "NO " + attrName.toUpperCase() + " MATCH FOUND";
    }

    if(type == "float"){
      text = text.replace(/,/g,'');
    } else if(type == "string"){
      text = _.escape(text);
    }
    data[attrName] = text;
  });
  console.log("Extracted data : ",data);
  return data;
};

function getMetaData(message){
  var headers = message.payload.headers;
  var metaData = {};
  headers.forEach(function(h){
    var name = h.name;
    if(name == "Date"){
      metaData["date"] = new Date(h.value).getTime();
    } else if (name == "Subject"){
      metaData["subject"] = h.value;
    }
  });
  return metaData;
};

//TODO - instead of values explicitly mention fields so that order is not effected
function writeMessagesToDB(messages,tableName,messageConfig){
 var db = alasql.databases.expenses;
 var insertQuery = "INSERT INTO %tableName values ( '%id', '%date', '%mainMessage', '%otherColumns')";
 updateStatus("WRITING MESSAGES TO DB");
 var promise = new Promise(function(resolve,reject){
   _.each(messages,function(message){
     updateStatus("inserting message ", message);
     var dataValues = _.map(messageConfig["fields"],function(field){
       var fieldName = field["name"]
       return message["extractedData"][fieldName]
     }).join("', '")
     var finalQuery = parameterizedQuery(insertQuery,{
       tableName:tableName,
       mainMessage : message["extractedData"]["mainMessage"],
       id:message["id"],
       date:message["metaData"]["date"],
       otherColumns: dataValues
     });
     db.exec(finalQuery);
   });
   resolve("Done inserting messages");
 });
 return promise;
}

// all tables must contain messageId and date timestamp
// escape all '\' in regex eg. '\s' => '\\s'
var config = {
  "citibank" : {
    "credit" : {
      "query" : "from:CitiAlert.India@citicorp.com subject:'Transaction confirmation on your Citibank credit card'",
      "mainMessageExtractor" : 'bgcolor="#f1fcf9">(.*)',
      "fields" : [
        { "name" : "amount",
          "type" : "float",
          "extractors" : ["\\s*([0-9\\,\\.]+)[\\sA-Z]+was"]
        },
        { "name" : "merchant",
          "type" : "string",
          "extractors" : ["at\\s*(.*)"]
        }
      ]
    }
  }
}





function renderExpensesTable(promiseValue,tableName,messageConfig){
  updateStatus("Rendering Expenses table");
  var db = alasql.databases.expenses;

  var query = "SELECT * FROM %tableName order by date desc";
  var finalQuery = parameterizedQuery(query,{tableName:tableName});
  var transactions = db.exec(finalQuery);

  var template = _.template(document.querySelector("#transaction-template").innerHTML);
  var contentDiv = document.querySelector("#content");
  var tableHTML = template({transactions: transactions,tableName:tableName});
  contentDiv.innerHTML = tableHTML;
}

function renderRightInfo(){
  console.log("Rendering right information");
  var db = alasql.databases.expenses;
  var thisMonth = new Date('2016-05-01').getTime();
  var query = "select sum(amount) as totalSpend from transactions where type='credit' and vdate>= %date";
  var replacedQuery = parameterizedQuery(query,{date:thisMonth});
  var sumCredit = db.exec(replacedQuery)[0];
  console.log(sumCredit);
  var node = document.querySelector("#right-info");
  node.innerHTML = "Total credit card spend: " + sumCredit.totalSpend;
}

function loadJsonToDb(data){
  var db = alasql.databases.expenses;
  db.tables.transactions.data = data;
}



document.addEventListener("DOMContentLoaded", function() {

  initDB();
  var $toggle = $('#nav-toggle');
  var $menu = $('#nav-menu');

  $toggle.click(function() {
    $(this).toggleClass('is-active');
    $menu.toggleClass('is-active');
  });

  var listMessagesElement = document.querySelector('#list-messages');
  listMessagesElement.addEventListener("click",function(){
    var selectedBanks = ["citibank"];
    _.each(selectedBanks,function(bankName){
      var bankConfig = config[bankName];
      createTables(bankName);
      //process each message type
      _.each(bankConfig,function(transactionTypeConfig,transactionType){
        var query = transactionTypeConfig["query"];
        var tableName = bankName + "_" + transactionType
        fetchMessageIds(query)
        .then(fetchAllMessages)
        .then(_.bind(processAllMessages,null,_,transactionTypeConfig))
        .then(_.bind(writeMessagesToDB,null,_,tableName,transactionTypeConfig))
        .then(_.bind(renderExpensesTable,null,_,tableName,transactionTypeConfig))

      })

    });
  });
});


</script>
<!-- BEGIN: Underscore Template Definition. -->
<script type="text/template" class="templates" id="transaction-template">
<h2>Rendering table : <%= tableName %></h2>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Transaction</th>
      <th>Merchant</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(transactions,function(t){ %>
      <tr>
        <td><%= t.date %></td>
        <td><%= _.unescape(t.main_message) %></td>
        <td><%= t.merchant %> </td>
        <td><%= t.amount %> </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</script>
<!-- END: Underscore Template Definition. -->
<script src="https://apis.google.com/js/platform.js?onload=initClient" async defer></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad" async defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/alasql/0.2.6/alasql.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js"></script>
